<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnchorWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EB6AB6C210DF3D700C97117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB6AB80210DF3D800C97117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB6AB8B210DF3D800C97117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
